<%- include('../partials/header') %>

<table border=1>
  <thead>Click flight for more details</thead>
  <tr>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight #</th>
    <th>Departure</th>  
  </tr></thead>
  <tbody>
    <% flights.forEach(function(f) {  %>
      <tr>
        <td><a href="/flights/<%= f._id %>"><%= f.airline %></a></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>

      </tr>
      <% }); %>
    </tbody>

</table>

<%- include('../partials/footer') %>