<%- include('../partials/header') %>

Simple placeholder for flights/index.ejs

<a href="flights/new">New Flight</a> | <a href="/flights/show">Show Flights</a>

    <h1>Title Placeholder: views/index.ejs </h1>
    <p>Welcome to  Broke-Ass Travel</p>

<table border=1>
  <thead></thead>
  <tr>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight #</th>
    <th>Departure</th>  
  </tr></thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><a href="/flights/<%= f._id %>"><%= f.airline %></a></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <!--<td><a href="/flights/<%= f._id %>">DETAILS</a></td>-->
      </tr>
      <% }); %>
    </tbody>

</table>

<%- include('../partials/footer') %>