<%- include('../partials/header') %>

<section id="show-page">
  <div>Airport: <%= flight.airport %></div>
  <div>Airline: <%= flight.airline %></div>
  <div>Flight # <%= flight.flightNo %></div>
  <div>Departure Date <%= flight.departs %></div>


</section>

